<?xml version="1.0" encoding="utf-8"?>
<manifest
	package = "com.nullcognition.animationtransitionmaterial"
	xmlns:android = "http://schemas.android.com/apk/res/android"
	>

	<application
		android:allowBackup = "true"
		android:icon = "@mipmap/ic_launcher"
		android:label = "@string/app_name"
		android:theme = "@style/AppTheme"
		>
		<activity
			android:label = "@string/app_name"
			android:name = ".BounceImageDrawables"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_cross_fade"
			android:name = ".CrossFadePropertyAnimation"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_activity_transition00"
			android:name = ".activitytrans.ActivityTransition00"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_activity_transition01"
			android:name = ".activitytrans.ActivityTransition01"
			android:theme = "@style/AppTrans"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_main03"
			android:name = ".MultipropertyAnimations"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_curved_motion"
			android:name = ".curvedmotion.CurvedMotion"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_squash_strech"
			android:name = ".SquashStrech"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_sliding_fragment"
			android:name = ".slidingfragments.SlidingFragments"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_card_flip_animation"
			android:name = ".cardflip.CardFlip"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_sub_activity"
			android:name = ".windowanimations.SubActivity"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_animated_sub"
			android:name = ".windowanimations.AnimatedSubActivity"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_window_animations"
			android:name = ".windowanimations.WindowAnimations"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_layout_trans"
			android:name = ".layouttranschanging.LayoutTrans"
			>
		</activity>
		<activity
			android:label = "@string/title_activity_interpolator"
			android:name = ".interpolator.InterpolatorActivity"
			>

		</activity>
		<activity
			android:label = "@string/title_activity_transition"
			android:name = ".transition.TransitionActivity"
			>
			<intent-filter>
				<action android:name = "android.intent.action.MAIN"/>

				<category android:name = "android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>

</manifest>
